## Ex 8.6

1. *Array Operations: Create a `NumPy` array representing the elevations of various locations. Normalize the elevations (e.g., subtract the mean and divide by the standard deviation) and calculate the mean and standard deviation of the normalized array.*

In [13]:
#elevation of ladakh, lima, and bern in m
list = [6332, 161, 555]

In [2]:
import numpy as np

In [3]:
elevation = np.array (list)
elevation

array([6332,  161,  555])

In [8]:
normalized_height = (elevation - elevation.mean())/ elevation.std()

In [9]:
normalized_height

array([ 1.4119124 , -0.77579552, -0.63611688])

In [12]:
print (normalized_height.mean())
print (normalized_height.std())

-3.700743415417188e-17
1.0

*Note.* The mean of normalized data is zero (or very close to zero, due to potential rounding errors in computation). Normalization, especially when using Z-score or standardization, involves transforming data to have a mean of 0 and a standard deviation of 1. This ensures all features are on a similar scale, which is beneficial for many machine learning algorithms.

In [14]:
import pandas as pd

In [15]:
cities = pd.read_csv ('/Users/shazia_manuawar/Documents/cities.csv')

In [16]:
cities.head()

,Country,Capital City,Latitude,Longitude,Population,Capital Type
0,Afghanistan,Kabul,34.5289,69.1725,4011770,Capital
1,Albania,Tiranë (Tirana),41.3275,19.8189,475577,Capital
2,Algeria,El Djazaïr (Algiers),36.7525,3.0420,2693542,Capital
3,American Samoa,Pago Pago,-14.2781,-170.7025,48526,Capital
4,Andorra,Andorra la Vella,42.5078,1.5211,22614,Capital

In [18]:
cities_NHemisphere = cities [cities['Latitude'] > 0]

In [19]:
cities.count

<bound method DataFrame.count of                        Country           Capital City  Latitude  Longitude  \
0                  Afghanistan                  Kabul   34.5289    69.1725
1                      Albania        Tiranë (Tirana)   41.3275    19.8189
2                      Algeria  El Djazaïr  (Algiers)   36.7525     3.0420
3               American Samoa              Pago Pago  -14.2781  -170.7025
4                      Andorra       Andorra la Vella   42.5078     1.5211
..                         ...                    ...       ...        ...
229  Wallis and Futuna Islands               Matu-Utu  -13.2816  -176.1745
230             Western Sahara               El Aaiún   27.1532   -13.2014
231                      Yemen                Sana'a'   15.3531    44.2078
232                     Zambia                 Lusaka  -15.4134    28.2771
233                   Zimbabwe                 Harare  -17.8294    31.0539

     Population Capital Type
0       4011770      Capital
1        475577      Capital
2       2693542      Capital
3         48526      Capital
4         22614      Capital
..          ...          ...
229        1025      Capital
230      232388      Capital
231     2779317      Capital
232     2523844      Capital
233     1515016      Capital

[234 rows x 6 columns]>

In [20]:
cities_NHemisphere

,Country,Capital City,Latitude,Longitude,Population,Capital Type
0,Afghanistan,Kabul,34.5289,69.1725,4011770,Capital
1,Albania,Tiranë (Tirana),41.3275,19.8189,475577,Capital
2,Algeria,El Djazaïr (Algiers),36.7525,3.0420,2693542,Capital
4,Andorra,Andorra la Vella,42.5078,1.5211,22614,Capital
6,Anguilla,The Valley,18.2170,-63.0578,1402,Capital
...,...,...,...,...,...,...
225,Uzbekistan,Tashkent,41.2647,69.2163,2463969,Capital
227,Venezuela (Bolivarian Republic of),Caracas,10.4880,-66.8792,2934560,Capital
228,Viet Nam,Hà Noi,21.0245,105.8412,4282738,Capital
230,Western Sahara,El Aaiún,27.1532,-13.2014,232388,Capital
231,Yemen,Sana'a',15.3531,44.2078,2779317,Capital

In [ ]:
cities_NHemisphere ['Latitude